In [1]:
# подготовка данных
import psycopg2
import pandas as pd
import sqlite3

pg_connection = {
    "host": "dsstudents.skillbox.ru",
    "port": 5432,
    "dbname": "human_resources",
    "user": "readonly",
    "password": "6hajV34RTQfmxhS"
}
conn = psycopg2.connect(**pg_connection)

cursor = conn.cursor()

# получаем имена таблиц из базы
sql_str = "SELECT table_name FROM information_schema.tables WHERE table_schema='public';"
cursor.execute(sql_str)
tables_data = [a for a in cursor.fetchall()]
conn.commit()

print("Какие таблицы содержатся в Postgres: %s" % tables_data)

Какие таблицы содержатся в Postgres: [('hr_dataset',), ('production_staff',), ('male',), ('female',), ('recruiting_costs',), ('salary_grid',), ('show_functions',), ('share_employee_source',)]

In [2]:
# hr_dataset
df_hr_dataset = pd.read_sql_query("select * from public.hr_dataset;", conn)
df_hr_dataset
# df_hr_dataset.columns

,id,Employee Name,Employee Number,marriedid,maritalstatusid,genderid,empstatus_id,deptid,perf_scoreid,age,...,Date of Hire,Days Employed,Date of Termination,Reason For Term,Employment Status,department,position,Manager Name,Employee Source,Performance Score
0,1,"Brown, Mia",1103024456,1,1,0,1,1,3,30,...,2008-10-27,3317,None,N/A - still employed,Active,Admin Offices,Accountant I,Brandon R. LeBlanc,Diversity Job Fair,Fully Meets
1,2,"LaRotonda, William",1106026572,0,2,1,1,1,3,34,...,2014-01-06,1420,None,N/A - still employed,Active,Admin Offices,Accountant I,Brandon R. LeBlanc,Website Banner Ads,Fully Meets
2,3,"Steans, Tyrone",1302053333,0,0,1,1,1,3,31,...,2014-09-29,1154,None,N/A - still employed,Active,Admin Offices,Accountant I,Brandon R. LeBlanc,Internet Search,Fully Meets
3,4,"Howard, Estelle",1211050782,1,1,0,1,1,9,32,...,2015-02-16,58,2015-04-15,N/A - still employed,Active,Admin Offices,Administrative Assistant,Brandon R. LeBlanc,Pay Per Click - Google,N/A- too early to review
4,5,"Singh, Nan",1307059817,0,0,0,1,1,9,30,...,2015-05-01,940,None,N/A - still employed,Active,Admin Offices,Administrative Assistant,Brandon R. LeBlanc,Website Banner Ads,N/A- too early to review
5,6,"Smith, Leigh Ann",711007713,1,1,0,5,1,3,30,...,2011-09-26,730,2013-09-25,career change,Voluntarily Terminated,Admin Offices,Administrative Assistant,Brandon R. LeBlanc,Diversity Job Fair,Fully Meets
6,7,"LeBlanc, Brandon R",1102024115,1,1,1,1,1,3,33,...,2016-01-05,691,None,N/A - still employed,Active,Admin Offices,Shared Services Manager,Janet King,Monster.com,Fully Meets
7,8,"Quinn, Sean",1206043417,1,1,1,5,1,3,33,...,2011-02-21,1636,2015-08-15,career change,Voluntarily Terminated,Admin Offices,Shared Services Manager,Janet King,Diversity Job Fair,Fully Meets
8,9,"Boutwell, Bonalyn",1307060188,1,1,0,1,1,0,31,...,2015-02-16,1014,None,N/A - still employed,Active,Admin Offices,Sr. Accountant,Brandon R. LeBlanc,Diversity Job Fair,90-day meets
9,10,"Foster-Baker, Amy",1201031308,1,1,0,1,1,3,39,...,2009-01-05,3247,None,N/A - still employed,Active,Admin Offices,Sr. Accountant,Board of Directors,Other,Fully Meets
10,11,"King, Janet",1001495124,1,1,0,1,2,3,63,...,2012-07-02,1973,None,N/A - still employed,Active,Executive Office,President & CEO,Board of Directors,Pay Per Click - Google,Fully Meets
11,12,"Zamora, Jennifer",1112030816,0,0,0,1,3,5,38,...,2010-04-10,2787,None,N/A - still employed,Active,IT/IS,CIO,Janet King,Employee Referral,Exceptional
12,13,"Becker, Renee",1102024056,0,0,0,4,3,3,32,...,2014-07-07,432,2015-09-12,performance,Terminated for Cause,IT/IS,Database Administrator,Simon Roup,Search Engine - Google Bing Yahoo,Fully Meets
13,14,"Goble, Taisha",905013738,0,0,0,4,3,3,46,...,2015-02-16,27,2015-03-15,"no-call, no-show",Terminated for Cause,IT/IS,Database Administrator,Simon Roup,Glassdoor,Fully Meets
14,15,"Hernandez, Daniff",1410071156,1,1,1,4,3,9,31,...,2015-02-16,6,2015-02-22,"no-call, no-show",Terminated for Cause,IT/IS,Database Administrator,Simon Roup,Employee Referral,N/A- too early to review
15,16,"Horton, Jayne",1105025718,0,0,0,1,3,9,34,...,2015-03-30,972,None,N/A - still employed,Active,IT/IS,Database Administrator,Simon Roup,Glassdoor,N/A- too early to review
16,17,"Johnson, Noelle",1003018246,1,1,0,3,3,0,31,...,2015-01-05,1056,None,N/A - still employed,Leave of Absence,IT/IS,Database Administrator,Simon Roup,Glassdoor,90-day meets
17,18,"Murray, Thomas",1406068403,0,2,1,1,3,5,29,...,2014-11-10,1112,None,N/A - still employed,Active,IT/IS,Database Administrator,Simon Roup,Diversity Job Fair,Exceptional
18,19,"Pearson, Randall",1102023965,1,1,1,5,3,3,33,...,2014-12-01,517,2016-05-01,performance,Voluntarily Terminated,IT/IS,Database Administrator,Simon Roup,Employee Referral,Fully Meets
19,20,"Petrowsky, Thelma",1108027853,1,1,0,1,3,5,33,...,2014-11-10,1112,None,N/A - still employed,Active,IT/IS,Database Administrator,Simon Roup,Employee Referral,Exceptional
20,21,"Roby, Lori",1407068885,1,1,0,1,3,3,36,...,2015-02-16,1014,None,N/A - still employed,Active,IT/IS,Database Administrator,Simon Roup,Employee Referral,Fully Meets
21,22,"Rogers, Ivan",1203032255,1,1,1,1,3,9,31,...,2015-03-30,972,None,N/A - still employed,Active,IT/IS,Database Administrator,Simon Roup,Pay Per Click - Google,N/A- too early to review
22,23,"Salter, Jason",1111030148,0,2,1,5,3,0,30,...,2015-01-05,299,2015-10-31,hours,Voluntarily Terminated,IT/IS,Database Administrator,Simon Roup,Vendor Referral,90-day meets
23,24,"Simard, Kramer",808010278,1,1,1,1,3,0,48,...,2015-01-05,1056,None,N/A - still employed,Active,IT/IS,Database Administrator,Simon Roup,Employee Referral,90-day meets
24,25,"Zhou, Julia",1110029732,0,0,0,1,3,0,39,...,2015-03-30,972,None,N/A - still employed,Active,IT/IS,Database Administrator,Simon Roup,Employee Referral,90-day meets
25,26,"Foss, Jason",1192991000,0,0,1,1,3,5,37,...,2011-04-15,2417,None,N/A - still employed,Active,IT/IS,IT Director,Jennifer Zamora,Professional Society,Exceptional
26,27,"Roup,Simon",1106026933,0,0,1,1,3,3,45,...,2013-01-20,1771,None,N/A - still employed,Active,IT/IS,IT Manager - DB,Jennifer Zamora,Professional Society,Fully Meets
27,28,"Ruiz, Ricardo",1001175250,0,2,1,5,3,3,54,...,2012-01-09,1395,2015-11-04,hours,Voluntarily Terminated,IT/IS,IT Manager - DB,Jennifer Zamora,Diversity Job Fair,Fully Meets
28,29,"Monroe, Peter",1011022863,1,1,1,1,3,2,31,...,2012-02-15,2111,None,N/A - still employed,Active,IT/IS,IT Manager - Infra,Jennifer Zamora,Diversity Job Fair,Needs Improvement
29,30,"Dougall, Eric",1101023754,0,0,1,1,3,4,47,...,2014-01-05,1421,None,N/A - still employed,Active,IT/IS,IT Manager - Support,Jennifer Zamora,Professional Society,Exceeds
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
280,281,"Ozark, Travis",812011761,0,0,1,1,6,0,36,...,2015-01-05,1056,None,N/A - still employed,Active,Sales,Area Sales Manager,John Smith,Website Banner Ads,90-day meets
281,282,"Potts, Xana",1102024106,1,1,0,1,6,3,29,...,2012-01-09,2148,None,N/A - still employed,Active,Sales,Area Sales Manager,Lynn Daneault,Website Banner Ads,Fully Meets
282,283,"Riordan, Michael",1502072711,0,3,1,1,6,4,50,...,2006-01-09,4339,None,N/A - still employed,Active,Sales,Area Sales Manager,Lynn Daneault,Billboard,Exceeds
283,284,"Strong, Caitrin",1411071295,1,1,0,1,6,3,29,...,2010-09-27,2617,None,N/A - still employed,Active,Sales,Area Sales Manager,John Smith,Professional Society,Fully Meets
284,285,"Terry, Sharlene",1401064637,0,0,0,1,6,3,53,...,2014-09-29,1154,None,N/A - still employed,Active,Sales,Area Sales Manager,Lynn Daneault,Monster.com,Fully Meets
285,286,"Valentin,Jackie",1312063714,1,1,0,1,6,3,27,...,2011-07-05,2336,None,N/A - still employed,Active,Sales,Area Sales Manager,John Smith,Other,Fully Meets
286,287,"Villanueva, Noah",1111030503,0,0,1,1,6,3,28,...,2012-03-05,2092,None,N/A - still employed,Active,Sales,Area Sales Manager,John Smith,Website Banner Ads,Fully Meets
287,288,"Houlihan, Debra",1009021646,1,1,0,1,6,3,52,...,2014-05-05,1301,None,N/A - still employed,Active,Sales,Director of Sales,Janet King,MBTA ads,Fully Meets
288,289,"Daneault, Lynn",1402065303,0,0,0,1,6,3,28,...,2014-05-05,1301,None,N/A - still employed,Active,Sales,Sales Manager,Debra Houlihan,Pay Per Click - Google,Fully Meets
289,290,"Kampew, Donysha",1109029264,0,0,0,5,6,3,28,...,2011-11-07,899,2014-04-24,maternity leave - did not return,Voluntarily Terminated,Sales,Sales Manager,Debra Houlihan,Social Networks - Facebook Twitter etc,Fully Meets
290,291,"Smith, John",1499902910,0,2,1,1,6,2,33,...,2014-05-18,1288,None,N/A - still employed,Active,Sales,Sales Manager,Debra Houlihan,Diversity Job Fair,Needs Improvement
291,292,"Andreola, Colby",1107027358,0,0,0,1,4,3,39,...,2014-11-10,1112,None,N/A - still employed,Active,Software Engineering,Software Engineer,Alex Sweetwater,Vendor Referral,Fully Meets
292,293,"Carabbio, Judith",1101023577,0,0,0,1,4,0,31,...,2013-11-11,1476,None,N/A - still employed,Active,Software Engineering,Software Engineer,Alex Sweetwater,Pay Per Click - Google,90-day meets
293,294,"Del Bosque, Keyla",1203032498,0,0,0,1,4,0,38,...,2012-01-09,2148,None,N/A - still employed,Active,Software Engineering,Software Engineer,Alex Sweetwater,Monster.com,90-day meets
294,295,"Exantus, Susan",1401064670,1,1,0,4,4,2,31,...,2011-05-02,765,2013-06-05,attendance,Terminated for Cause,Software Engineering,Software Engineer,Alex Sweetwater,Billboard,Needs Improvement
295,296,"Martin, Sandra",1303054625,0,0,0,1,4,3,30,...,2013-11-11,1476,None,N/A - still employed,Active,Software Engineering,Software Engineer,Alex Sweetwater,Search Engine - Google Bing Yahoo,Fully Meets
296,297,"Patronick, Luke",1112030979,0,0,1,5,4,4,39,...,2011-11-07,1400,2015-09-07,Another position,Voluntarily Terminated,Software Engineering,Software Engineer,Alex Sweetwater,Diversity Job Fair,Exceeds
297,298,"Saada, Adell",1012023185,1,1,0,1,4,3,31,...,2012-11-05,1847,None,N/A - still employed,Active,Software Engineering,Software Engineer,Alex Sweetwater,Pay Per Click - Google,Fully Meets
298,299,"Szabo, Andrew",1201031324,0,0,1,1,4,5,35,...,2014-07-07,1238,None,N/A - still employed,Active,Software Engineering,Software Engineer,Alex Sweetwater,MBTA ads,Exceptional
299,300,"True, Edward",1102024057,0,0,1,5,4,3,34,...,2013-02-18,421,2014-04-15,medical issues,Voluntarily Terminated,Software Engineering,Software Engineer,Alex Sweetwater,Diversity Job Fair,Fully Meets
300,301,"Sweetwater, Alex",1001644719,0,0,1,1,4,3,51,...,2011-08-15,2295,None,N/A - still employed,Active,Software Engineering,Software Engineering Manager,Jennifer Zamora,Search Engine - Google Bing Yahoo,Fully Meets
301,302,"Champaigne, Brian",1009919920,1,1,1,1,3,3,46,...,2016-09-06,446,None,N/A - still employed,Active,IT/IS,BI Director,Jennifer Zamora,Professional Society,Fully Meets
302,303,"Le, Binh",1009919930,0,0,0,1,3,3,30,...,2016-10-02,420,None,N/A - still employed,Active,IT/IS,Senior BI Developer,Brian Champaigne,Indeed,Fully Meets
303,304,"Rachael, Maggie",1009919940,1,1,0,1,3,3,38,...,2016-10-02,420,None,N/A - still employed,Active,IT/IS,BI Developer,Brian Champaigne,Indeed,Fully Meets
304,305,"Roper, Katie",1009919950,0,0,0,1,3,3,45,...,2017-01-07,323,None,N/A - still employed,Active,IT/IS,Data Architect,Brian Champaigne,Indeed,Fully Meets
305,306,"Navathe, Kurt",1009919960,0,0,1,1,3,3,48,...,2017-02-10,289,None,N/A - still employed,Active,IT/IS,Senior BI Developer,Brian Champaigne,Indeed,Fully Meets
306,307,"Wang, Charlie",1009919970,0,0,1,1,3,3,36,...,2017-02-15,284,None,N/A - still employed,Active,IT/IS,Senior BI Developer,Brian Champaigne,Indeed,Fully Meets
307,308,"Smith, Jason",1009919980,0,0,1,1,3,3,34,...,2017-02-15,284,None,N/A - still employed,Active,IT/IS,BI Developer,Brian Champaigne,Indeed,Fully Meets
308,309,"Westinghouse, Matthew",1009919990,1,1,1,1,3,3,30,...,2017-04-20,220,None,N/A - still employed,Active,IT/IS,BI Developer,Brian Champaigne,Indeed,Fully Meets
309,310,"Hubert, Robert",1009920000,1,1,1,1,3,3,28,...,2017-04-20,220,None,N/A - still employed,Active,IT/IS,BI Developer,Brian Champaigne,Indeed,Fully Meets

In [3]:
df_hr_dataset[df_hr_dataset.loc[:, 'Employee Name'] == 'Brown, Mia' ]

,id,Employee Name,Employee Number,marriedid,maritalstatusid,genderid,empstatus_id,deptid,perf_scoreid,age,...,Date of Hire,Days Employed,Date of Termination,Reason For Term,Employment Status,department,position,Manager Name,Employee Source,Performance Score
0,1,"Brown, Mia",1103024456,1,1,0,1,1,3,30,...,2008-10-27,3317,None,N/A - still employed,Active,Admin Offices,Accountant I,Brandon R. LeBlanc,Diversity Job Fair,Fully Meets

`hr_dataset` -`набор данных`- содержит следующие значения: <br><br>
&nbsp;&nbsp;&nbsp;&nbsp; `id`          – идентификатор <br>
&nbsp;&nbsp;&nbsp;&nbsp; `Employee Name`    – Имя сотрудника <br>
&nbsp;&nbsp;&nbsp;&nbsp; `Employee Number`    – Номер сотрудника <br>
&nbsp;&nbsp;&nbsp;&nbsp;  `marriedid` – состоит в браке <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `maritalstatusid` – семейное положение <br>
&nbsp;&nbsp;&nbsp;&nbsp;  `genderid` – гендерный идентификатор <br>
&nbsp;&nbsp;&nbsp;&nbsp;  `empstatus_id` – empstatus_id <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `deptid` – идентификатор отдела <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `perf scoreid` – перф счет <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `age` – возраст <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Pay Rate` – оклад <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `state` – государство <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `zip` – темперамент <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `dob` – времена <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `sex` – пол <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `maritaldesc` – семейный <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `citizendesc` – гражданин <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Hispanic/Latino` – Испанец / выходец из Латинской Америки <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `racedesc` – наличие авто <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Date of Hire` – дата начала работы <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Days Employed` – Отработанные дни <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Date of Termination` – Дата увольнения <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Reason For Term` – причина <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Employment Status` – Статус занятости <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `department` – отдел <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `position` – позиция <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Manager Name` – имя менеджера <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Employee Source` – Источник сотрудника <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Performance Score` – оценка производительности <br>

In [4]:
# production_staff
df_production_staff = pd.read_sql_query("select * from public.production_staff;", conn)
df_production_staff

,id,Employee Name,Race Desc,Date of Hire,TermDate,Reason for Term,Employment Status,Department,Position,Pay,Manager Name,Performance Score,Abutments/Hour Wk 1,Abutments/Hour Wk 2,Daily Error Rate,90-day Complaints
0,1,"Albert, Michael",White,2011-08-01,None,N/A - still employed,Active,Production,Production Manager,$54.50,Elisa Bramante,Fully Meets,0.0,0.0,0.0,0.0
1,2,"Bozzi, Charles",Asian,2013-09-30,2014-08-07,retiring,Voluntarily Terminated,Production,Production Manager,$50.50,Elisa Bramante,Fully Meets,0.0,0.0,0.0,0.0
2,3,"Butler, Webster L",White,2016-01-28,None,N/A - still employed,Active,Production,Production Manager,$55.00,Elisa Bramante,Exceeds,0.0,0.0,0.0,0.0
3,4,"Dunn, Amy",White,2014-09-18,None,N/A - still employed,Active,Production,Production Manager,$51.00,Elisa Bramante,Fully Meets,0.0,0.0,0.0,0.0
4,5,"Gray, Elijiah",White,2015-06-02,None,N/A - still employed,Active,Production,Production Manager,$54.00,Elisa Bramante,Fully Meets,0.0,0.0,0.0,0.0
5,6,"Hogland, Jonathan",White,2011-01-10,2015-12-12,attendance,Terminated for Cause,Production,Production Manager,$48.00,Elisa Bramante,Fully Meets,0.0,0.0,0.0,0.0
6,7,"Immediato, Walter",Asian,2011-02-21,2012-09-24,unhappy,Voluntarily Terminated,Production,Production Manager,$42.00,Elisa Bramante,Needs Improvement,0.0,0.0,0.0,0.0
7,8,"Liebig, Ketsia",White,2013-09-30,None,N/A - still employed,Active,Production,Production Manager,$55.00,Elisa Bramante,Exceeds,0.0,0.0,0.0,0.0
8,9,"Miller, Brannon",Hispanic,2012-08-16,None,N/A - still employed,Active,Production,Production Manager,$53.00,Elisa Bramante,Fully Meets,0.0,0.0,0.0,0.0
9,10,"Peterson, Ebonee",White,2010-10-25,2016-05-18,Another position,Voluntarily Terminated,Production,Production Manager,$38.00,Elisa Bramante,Fully Meets,0.0,0.0,0.0,0.0
10,11,"Spirea, Kelley",White,2012-10-02,None,N/A - still employed,Active,Production,Production Manager,$52.00,Elisa Bramante,Fully Meets,0.0,0.0,0.0,0.0
11,12,"Stanley, David",White,2010-07-20,None,N/A - still employed,Active,Production,Production Manager,$53.00,Elisa Bramante,Needs Improvement,0.0,0.0,0.0,0.0
12,13,"Sullivan, Kissy",Black or African American,2009-01-08,None,N/A - still employed,Active,Production,Production Manager,$55.00,Elisa Bramante,Fully Meets,0.0,0.0,0.0,0.0
13,14,"Wallace, Courtney E",Black or African American,2011-09-26,2012-01-02,Another position,Voluntarily Terminated,Production,Production Manager,$33.50,Elisa Bramante,Fully Meets,0.0,0.0,0.0,0.0
14,15,"Adinolfi, Wilson K",White,2011-07-05,None,N/A - still employed,Active,Production,Production Technician I,$20.00,Michael Albert,Exceeds,15.0,17.0,0.0,0.0
15,16,"Alagbe,Trina",White,2008-01-07,None,N/A - still employed,Active,Production,Production Technician I,$21.00,Elijiah Gray,Fully Meets,8.0,10.0,1.0,0.0
16,17,"Anderson, Carol",White,2011-07-11,2011-09-06,return to school,Voluntarily Terminated,Production,Production Technician I,$16.00,Webster Butler,N/A- too early to review,6.0,8.0,3.0,1.0
17,18,"Anderson, Linda",White,2012-01-09,None,N/A - still employed,Active,Production,Production Technician I,$23.00,Amy Dunn,Exceptional,19.0,19.0,0.0,0.0
18,19,"Athwal, Sam",White,2013-09-30,None,N/A - still employed,Active,Production,Production Technician I,$22.00,Ketsia Liebig,N/A- too early to review,6.0,6.0,1.0,0.0
19,20,"Bachiochi, Linda",Two or more races,2009-07-06,None,N/A - still employed,Leave of Absence,Production,Production Technician I,$22.00,Brannon Miller,Fully Meets,10.0,10.0,0.0,0.0
20,21,"Baczenski, Rachael",Hispanic,2011-01-10,2011-01-12,Another position,Voluntarily Terminated,Production,Production Technician I,$17.00,David Stanley,N/A- too early to review,5.0,7.0,3.0,2.0
21,22,"Barbara, Thomas",Asian,2012-04-02,2012-09-19,unhappy,Voluntarily Terminated,Production,Production Technician I,$22.00,Kissy Sullivan,90-day meets,5.0,8.0,0.0,0.0
22,23,"Barone, Francesco A",Two or more races,2012-02-20,None,N/A - still employed,Active,Production,Production Technician I,$16.76,Kelley Spirea,Fully Meets,10.0,10.0,0.0,0.0
23,24,"Barton, Nader",White,2012-09-24,2013-04-06,Another position,Voluntarily Terminated,Production,Production Technician I,$18.00,Michael Albert,Fully Meets,12.0,12.0,0.0,0.0
24,25,"Beatrice, Courtney",White,2011-04-04,None,N/A - still employed,Active,Production,Production Technician I,$22.00,Elijiah Gray,Fully Meets,9.0,10.0,1.0,0.0
25,26,"Becker, Scott",Asian,2013-07-08,None,N/A - still employed,Leave of Absence,Production,Production Technician I,$17.00,Webster Butler,Fully Meets,8.0,9.0,0.0,0.0
26,27,"Bernstein, Sean",White,2012-04-02,None,N/A - still employed,Active,Production,Production Technician I,$16.00,Amy Dunn,Fully Meets,10.0,12.0,1.0,0.0
27,28,"Biden, Lowan M",Asian,2013-08-19,None,N/A - still employed,Active,Production,Production Technician I,$22.00,Ketsia Liebig,Fully Meets,12.0,13.0,1.0,0.0
28,29,"Billis, Helen",White,2014-07-07,None,N/A - still employed,Active,Production,Production Technician I,$16.00,Brannon Miller,Exceeds,16.0,15.0,0.0,0.0
29,30,"Brill, Donna",White,2012-04-02,2013-06-15,Another position,Voluntarily Terminated,Production,Production Technician I,$20.00,David Stanley,Fully Meets,9.0,10.0,1.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
226,227,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
227,228,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
228,229,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
229,230,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
230,231,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
231,232,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
232,233,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
233,234,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
234,235,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
235,236,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
236,237,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
237,238,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
238,239,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
239,240,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
240,241,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
241,242,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
242,243,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
243,244,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
244,245,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
245,246,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
246,247,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
247,248,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
248,249,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
249,250,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
250,251,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
251,252,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
252,253,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
253,254,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
254,255,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN
255,256,None,None,None,None,None,None,None,None,None,None,None,NaN,NaN,NaN,NaN

`production_staff`- `Сотрудники производства` - содержит следующие значения: <br><br>
&nbsp;&nbsp;&nbsp;&nbsp; `id`          – идентификатор <br>
&nbsp;&nbsp;&nbsp;&nbsp; `Employee Name`    – Имя сотрудника <br>
&nbsp;&nbsp;&nbsp;&nbsp;  `Race Desc` – раса <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Date of Hire	` – дата начала работы <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `TermDate` – дата увольнения <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Reason for Term` – причина увольнения <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Employment Status` – Статус занятости <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Department` – Отдел <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Position` – должность <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Pay` – зарплата <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Manager Name` – имя менеджера <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Performance Score` – Оценка производительности <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Abutments/Hour Wk 1` – Абатменты / Час Wk 1 <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Abutments/Hour Wk 2` – Абатменты / Час Wk 2 <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Daily Error Rate` – Ежедневный коэффициент ошибок <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `90-day Complaints` – 90-дневные жалобы <br>

In [7]:
df_production_staff[df_production_staff.loc[:, 'Employee Name'] == 'Brown, Mia' ]

Empty DataFrame
Columns: [id, Employee Name, Race Desc, Date of Hire, TermDate, Reason for Term, Employment Status, Department, Position, Pay, Manager Name, Performance Score, Abutments/Hour Wk 1, Abutments/Hour Wk 2, Daily Error Rate, 90-day Complaints]
Index: []

In [5]:
# recruiting_costs
df_recruiting_costs = pd.read_sql_query("select * from recruiting_costs;", conn)
df_recruiting_costs

,id,Employment Source,January,February,March,April,May,June,July,August,September,October,November,December,Total
0,1,Billboard,520,520,520,520,0,0,612,612,729,749,910,500,6192
1,2,Careerbuilder,410,410,410,820,820,410,410,820,820,1230,820,410,7790
2,3,Company Intranet - Partner,0,0,0,0,0,0,0,0,0,0,0,0,0
3,4,Diversity Job Fair,0,5129,0,0,0,0,0,4892,0,0,0,0,10021
4,5,Employee Referral,0,0,0,0,0,0,0,0,0,0,0,0,0
5,6,Glassdoor,0,0,0,0,0,0,0,0,0,0,0,0,0
6,7,Information Session,0,0,0,0,0,0,0,0,0,0,0,0,0
7,8,Internet Search,0,0,0,0,0,0,0,0,0,0,0,0,0
8,9,MBTA ads,640,640,640,640,640,640,640,1300,1300,1300,1300,1300,10980
9,10,Monster.com,500,500,500,440,500,500,440,500,440,440,500,500,5760
10,11,Newspager/Magazine,629,510,293,810,642,675,707,740,772,805,838,870,8291
11,12,On-campus Recruiting,0,0,2500,0,0,2500,0,0,2500,0,0,0,7500
12,13,On-line Web application,0,0,0,0,0,0,0,0,0,0,0,0,0
13,14,Other,0,492,0,829,744,0,610,0,0,510,0,810,3995
14,15,Pay Per Click,110,110,60,121,110,109,130,146,105,109,105,110,1323
15,16,Pay Per Click - Google,330,330,180,362,197,152,389,437,315,327,315,176,3509
16,17,Professional Society,100,100,100,100,100,100,100,100,100,100,100,100,1200
17,18,Search Engine - Google Bing Yahoo,330,410,388,372,472,412,416,495,619,502,389,378,5183
18,19,Social Networks - Facebook Twitter etc,420,481,452,479,392,508,578,466,389,439,491,478,5573
19,20,Vendor Referral,0,0,0,0,0,0,0,0,0,0,0,0,0
20,21,Website Banner Ads,400,400,300,388,592,610,620,669,718,767,816,865,7143
21,22,Word of Mouth,0,0,0,0,0,0,0,0,0,0,0,0,0

`recruiting_costs` -`расходы на рекрутинг`- содержит следующие значения: <br><br>
&nbsp;&nbsp;&nbsp;&nbsp; `id`          – идентификатор <br>
&nbsp;&nbsp;&nbsp;&nbsp; `Employment Source`    – занятость <br>
&nbsp;&nbsp;&nbsp;&nbsp;  `January` – Январь <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `February` – Февраль <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `March` – Март <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `April` – Апрель <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `May` – Май <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `June` – Июнь <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `July` – Июль <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `August` – Август <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `September` – Сентябрь <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `October` – Октябрь <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `November` – Ноябрь <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `December` – Декабрь <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Total` – Общее количество <br>

In [6]:
# salary_grid
df_salary_grid = pd.read_sql_query("select * from salary_grid;", conn)
df_salary_grid

,id,Position,Salary Min,Salary Mid,Salary Max,Hourly Min,Hourly Mid,Hourly Max
0,1,Administrative Assistant,30000,40000,50000,14.42,19.23,24.04
1,2,Sr. Administrative Assistant,35000,45000,55000,16.83,21.63,26.44
2,3,Accountant I,42274,51425,62299,20.32,24.72,29.95
3,4,Accountant II,50490,62158,74658,24.27,29.88,35.89
4,5,Sr. Accountant,63264,76988,92454,30.42,37.01,44.45
5,6,Network Engineer,50845,66850,88279,24.44,32.14,42.44
6,7,Sr. Network Engineer,79428,99458,120451,38.19,47.82,57.91
7,8,Database Administrator,50569,68306,93312,24.31,32.84,44.86
8,9,Sr. DBA,92863,116007,139170,44.65,55.77,66.91
9,10,Production Technician I,30000,40000,50000,14.42,19.23,24.04
10,11,Production Technician II,38000,48000,58000,18.27,23.08,27.88
11,12,Lead Production Technician,45000,55000,65000,21.63,26.44,31.25

## Codebook

`salary_grid` -`заработная плата`- содержит следующие значения: <br><br>
&nbsp;&nbsp;&nbsp;&nbsp; `id`          – идентификатор <br>
&nbsp;&nbsp;&nbsp;&nbsp; `Position`    – должность <br>
&nbsp;&nbsp;&nbsp;&nbsp;  `Salary Min` – зарплата мин <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Salary Mid` – зарплата средняя <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Salary Max` – зарплата максимальная <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Hourly Min` – отработанные часы мин <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Hourly Mid` – отработанные часы среднее <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Hourly Max` – отработанные часы максимальная <br>

`recruiting_costs`-`расходы на рекрутинг`- содержит следующие значения: <br><br>
&nbsp;&nbsp;&nbsp;&nbsp; `id`          – идентификатор <br>
&nbsp;&nbsp;&nbsp;&nbsp; `Employment Source`    – занятость <br>
&nbsp;&nbsp;&nbsp;&nbsp;  `January` – Январь <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `February` – Февраль <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `March` – Март <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `April` – Апрель <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `May` – Май <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `June` – Июнь <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `July` – Июль <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `August` – Август <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `September` – Сентябрь <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `October` – Октябрь <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `November` – Ноябрь <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `December` – Декабрь <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Total` – Общее количество <br> 

`production_staff` - `Сотрудники производства` - содержит следующие значения: <br><br>
&nbsp;&nbsp;&nbsp;&nbsp; `id`          – идентификатор <br>
&nbsp;&nbsp;&nbsp;&nbsp; `Employee Name`    – Имя сотрудника <br>
&nbsp;&nbsp;&nbsp;&nbsp;  `Race Desc` – раса <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Date of Hire	` – дата начала работы <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `TermDate` – дата увольнения <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Reason for Term` – причина увольнения <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Employment Status` – Статус занятости <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Department` – Отдел <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Position` – должность <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Pay` – зарплата <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Manager Name` – имя менеджера <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Performance Score` – Оценка производительности <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Abutments/Hour Wk 1` – Абатменты / Час Wk 1 <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Abutments/Hour Wk 2` – Абатменты / Час Wk 2 <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Daily Error Rate` – Ежедневный коэффициент ошибок <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `90-day Complaints` – 90-дневные жалобы <br> 

`hr_dataset` -`набор данных`- содержит следующие значения: <br><br>
&nbsp;&nbsp;&nbsp;&nbsp; `id`          – идентификатор <br>
&nbsp;&nbsp;&nbsp;&nbsp; `Employee Name`    – Имя сотрудника <br>
&nbsp;&nbsp;&nbsp;&nbsp; `Employee Number`    – Номер сотрудника <br>
&nbsp;&nbsp;&nbsp;&nbsp;  `marriedid` – состоит в браке <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `maritalstatusid` – семейное положение <br>
&nbsp;&nbsp;&nbsp;&nbsp;  `genderid` – гендерный идентификатор <br>
&nbsp;&nbsp;&nbsp;&nbsp;  `empstatus_id` – empstatus_id <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `deptid` – идентификатор отдела <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `perf scoreid` – перф счет <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `age` – возраст <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Pay Rate` – оклад <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `state` – государство <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `zip` – темперамент <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `dob` – времена <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `sex` – пол <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `maritaldesc` – семейный <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `citizendesc` – гражданин <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Hispanic/Latino` – Испанец / выходец из Латинской Америки <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `racedesc` – наличие авто <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Date of Hire` – дата начала работы <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Days Employed` – Отработанные дни <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Date of Termination` – Дата увольнения <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Reason For Term` – причина <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Employment Status` – Статус занятости <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `department` – отдел <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `position` – позиция <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Manager Name` – имя менеджера <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Employee Source` – Источник сотрудника <br> 
&nbsp;&nbsp;&nbsp;&nbsp;  `Performance Score` – оценка производительности <br>